---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [322]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
# df.head()

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [18]:
df.nlargest(1,['Gold']).index[0]

'United States'

In [19]:
def answer_one():
    
    return df.nlargest(1,['Gold']).index[0]
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [30]:
df['gap'] = abs(df['Gold']-df['Gold.1'])
df.nlargest(1,['gap']).index[0]
#df['gap']

'United States'

In [32]:
def answer_two():
    df['gap'] = abs(df['Gold']-df['Gold.1'])
    return df.nlargest(1,['gap']).index[0]
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [323]:
## Test the by eye by doing a double sort.
# only_both_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0 ))
# only_both_gold = only_both_gold.dropna()
# only_both_gold.sort_values(['rel_gap','Gold','Gold.1'], ascending = [False,False, False])

In [80]:
## Remove countries without at least one gold
only_both_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0 ))
only_both_gold = only_both_gold.dropna()
## Calculate relative gap and pull out largest
only_both_gold['rel_gap'] = abs(only_both_gold['Gold']-only_both_gold['Gold.1'])/only_both_gold['Gold.2']
only_both_gold.nlargest(1,['rel_gap']).index[0]
#only_gold.loc[:,['Gold','Gold.1', 'Gold.2','rel_gap']]
#only_gold['rel_gap']

'Bulgaria'

In [82]:
def answer_three():
    ## Remove countries without at least one gold
    only_both_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0 ))
    only_both_gold = only_both_gold.dropna()
    ## Calculate relative gap and pull out largest
    only_both_gold['rel_gap'] = abs(only_both_gold['Gold']-only_both_gold['Gold.1'])/only_both_gold['Gold.2']
    return only_both_gold.nlargest(1,['rel_gap']).index[0]

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [325]:
df['points'] = 3*df['Gold.2'] + 2* df['Silver.2'] + df['Bronze']
df.sort_values(['points'], ascending = [False]).head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,points
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,5600
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,2467
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,1562
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,1493
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,1453

In [98]:
def answer_four():
    
    df['points'] = 3*df['Gold.2'] + 2* df['Silver.2'] + df['Bronze']

    return df['points']

answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            919
Austria                              488
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              149
Belgium                              273
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             408
Burundi                                3
Cameroon                              12
Canada                               794
Chile                                 24
China                               1101
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               66
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                267
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1163
Switzerland                          582
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              216
United Arab Emirates                   3
United States                       5600
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           170
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [326]:
census_df = pd.read_csv('census.csv')
# census_df.head()

In [328]:
census_df=census_df[census_df['SUMLEV'] == 50]

In [166]:
CTY_count=census_df.pivot_table(index=['STNAME'], aggfunc='size')
CTY_count.loc[:].head()

STNAME
Alabama       67
Alaska        29
Arizona       15
Arkansas      75
California    58
dtype: int64

In [169]:
CTY_count.nlargest().index[0]

'Texas'

In [179]:
CTY_count.nlargest?

In [167]:
def answer_five():
    CTY_count=census_df.pivot_table(index=['STNAME'], aggfunc='size')
    
    return CTY_count.nlargest().index[0]
answer_five()

# This seems a bit unsatisfactory. I'm not sure why nlargest() works
# i'd rather call nlargest of a column, but i can't reference the column
# of data, as it doesn't get a column name. I guess nlargest works as 
# these is only one column to return and STNAME has become the index.

'Texas'

In [195]:
CTY_count2 = census_df.groupby(['STNAME']).size().reset_index(name='count')
CTY_count2.nlargest(1, ['count'])['STNAME']

# This is maybe a bit more like it i'm not sure i get the 
# reset_index(name='count') bit Also it returns an object not a string

43    Texas
Name: STNAME, dtype: object

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [212]:
# Remind myself what the data looks like!

census_df = pd.read_csv('census.csv') # Read in the data again!
census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 

columns_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.

# # First i tried to set the index as it might help 
# #Â DOESN"T SEEM TO! maybe as you can't do operations on them??
# census_df = census_df.set_index(['STNAME', 'CTYNAME'])

In [216]:
census_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3).head()

STNAME
Alabama  37    658466
         49    412992
         45    334811
Alaska   71    291826
         76     97581
Name: CENSUS2010POP, dtype: int64

In [228]:
ans_df = census_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3).sum(level=0).nlargest(3)
ans_df.index.tolist()

['California', 'Texas', 'Illinois']

In [230]:
def answer_six():
    
    census_df = pd.read_csv('census.csv') # Read in the data again!
    census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 
    columns_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
    census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.
    
    ans_df = census_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3).sum(level=0).nlargest(3)

    return ans_df.index.tolist()
    
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [265]:
# Remind myself what the data looks like!

census_df = pd.read_csv('census.csv') # Read in the data again!
census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 

columns_to_keep = ['STNAME','CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']

census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.
# census_df.head()

In [266]:
census_df['DIFF'] = census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
                               'POPESTIMATE2014','POPESTIMATE2015']].max(1) - census_df[['POPESTIMATE2010',
                                'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013', 'POPESTIMATE2014','POPESTIMATE2015']].min(1)
ans_df = census_df.nlargest(1,['DIFF'])

ans_df['CTYNAME'].values[0]
# ans_df['CTYNAME'].item()

'Harris County'

In [264]:
def answer_seven():
    
    # DO THE DATA
    census_df = pd.read_csv('census.csv') # Read in the data again!
    census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 
    columns_to_keep = ['STNAME','CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.
    
    # ANSWER THE QUESTION
    census_df['DIFF'] = census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
                               'POPESTIMATE2014','POPESTIMATE2015']].max(1) - census_df[['POPESTIMATE2010',
                                'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013', 'POPESTIMATE2014','POPESTIMATE2015']].min(1)
    
    ans_df = census_df.nlargest(1,['DIFF'])
    
    return ans_df['CTYNAME'].values[0]

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [321]:
# Remind myself what the data looks like!
census_df = pd.read_csv('census.csv') # Read in the data again!
census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 
columns_to_keep = ['REGION','STNAME','CTYNAME','POPESTIMATE2014','POPESTIMATE2015']
census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.

# Filter on a couple of characteristics
df_8 = census_df[(census_df['REGION'] == 1) | (census_df['REGION'] == 2)]
df_8 = df_8[(df_8['POPESTIMATE2015'] > df_8['POPESTIMATE2014'])]  

# Now look for Washington

# df_8.head()

In [320]:
df_8['W_test'] = [x[0:10] for x in df_8['CTYNAME']]
# df_8.head()

In [319]:
df_8 = df_8[(df_8['W_test'] == 'Washington')]
# df_8

In [318]:
ans_8 = df_8[['STNAME','CTYNAME']].sort_index(ascending = True)
# ans_8

In [317]:
def answer_eight():
    
    # Remind myself what the data looks like!
    census_df = pd.read_csv('census.csv') # Read in the data again!
    census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 
    columns_to_keep = ['REGION','STNAME','CTYNAME','POPESTIMATE2014','POPESTIMATE2015']
    census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.

    # Filter on a couple of characteristics
    df_8 = census_df[(census_df['REGION'] == 1) | (census_df['REGION'] == 2)]
    df_8 = df_8[(df_8['POPESTIMATE2015'] > df_8['POPESTIMATE2014'])]  

    # Now look for Washington
    df_8['W_test'] = [x[0:10] for x in df_8['CTYNAME']]
    df_8 = df_8[(df_8['W_test'] == 'Washington')]
    
    # Make the final df
    ans_8 = df_8[['STNAME','CTYNAME']].sort_index(ascending = True)
    return ans_8

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County