---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [18]:
df.nlargest(1,['Gold']).index[0]

'United States'

In [19]:
def answer_one():
    
    return df.nlargest(1,['Gold']).index[0]
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [30]:
df['gap'] = abs(df['Gold']-df['Gold.1'])
df.nlargest(1,['gap']).index[0]
#df['gap']

'United States'

In [32]:
def answer_two():
    df['gap'] = abs(df['Gold']-df['Gold.1'])
    return df.nlargest(1,['gap']).index[0]
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [176]:
## Test the by eye by doing a double sort.
# only_both_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0 ))
# only_both_gold = only_both_gold.dropna()
# only_both_gold.sort_values(['rel_gap','Gold','Gold.1'], ascending = [False,False, False])

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,gap,rel_gap
Australia,25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,AUS,134.0,0.930556
Austria,26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0,AUT,41.0,0.532468
Belarus,5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0,BLR,6.0,0.333333
Belgium,25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0,BEL,36.0,0.947368
Bulgaria,19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0,BUL,50.0,0.961538
Canada,25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0,CAN,3.0,0.024793
China,9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0,CHN,189.0,0.887324
Croatia,6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0,CRO,2.0,0.200000
Czech Republic,5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0,CZE,7.0,0.333333
Czechoslovakia,16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0,TCH,47.0,0.921569
Estonia,11.0,9.0,9.0,15.0,33.0,9.0,4.0,2.0,1.0,7.0,20.0,13.0,11.0,16.0,40.0,EST,5.0,0.384615
Finland,24.0,101.0,84.0,117.0,302.0,22.0,42.0,62.0,57.0,161.0,46.0,143.0,146.0,174.0,463.0,FIN,59.0,0.412587
France,27.0,202.0,223.0,246.0,671.0,22.0,31.0,31.0,47.0,109.0,49.0,233.0,254.0,293.0,780.0,FRA,171.0,0.733906
Germany,15.0,174.0,182.0,217.0,573.0,11.0,78.0,78.0,53.0,209.0,26.0,252.0,260.0,270.0,782.0,GER,96.0,0.380952
United Team of Germany,3.0,28.0,54.0,36.0,118.0,3.0,8.0,6.0,5.0,19.0,6.0,36.0,60.0,41.0,137.0,EUA,20.0,0.555556
East Germany,5.0,153.0,129.0,127.0,409.0,6.0,39.0,36.0,35.0,110.0,11.0,192.0,165.0,162.0,519.0,GDR,114.0,0.593750
West Germany,5.0,56.0,67.0,81.0,204.0,6.0,11.0,15.0,13.0,39.0,11.0,67.0,82.0,94.0,243.0,FRG,45.0,0.671642
Great Britain,27.0,236.0,272.0,272.0,780.0,22.0,10.0,4.0,12.0,26.0,49.0,246.0,276.0,284.0,806.0,GBR,226.0,0.918699
Italy,26.0,198.0,166.0,185.0,549.0,22.0,37.0,34.0,43.0,114.0,48.0,235.0,200.0,228.0,663.0,ITA,161.0,0.685106
Japan,21.0,130.0,126.0,142.0,398.0,20.0,10.0,17.0,18.0,45.0,41.0,140.0,143.0,160.0,443.0,JPN,120.0,0.857143
Kazakhstan,5.0,16.0,17.0,19.0,52.0,6.0,1.0,3.0,3.0,7.0,11.0,17.0,20.0,22.0,59.0,KAZ,15.0,0.882353
South Korea,16.0,81.0,82.0,80.0,243.0,17.0,26.0,17.0,10.0,53.0,33.0,107.0,99.0,90.0,296.0,KOR,55.0,0.514019
Netherlands,25.0,77.0,85.0,104.0,266.0,20.0,37.0,38.0,35.0,110.0,45.0,114.0,123.0,139.0,376.0,NED,40.0,0.350877
Norway,24.0,56.0,49.0,43.0,148.0,22.0,118.0,111.0,100.0,329.0,46.0,174.0,160.0,143.0,477.0,NOR,62.0,0.356322
Poland,20.0,64.0,82.0,125.0,271.0,22.0,6.0,7.0,7.0,20.0,42.0,70.0,89.0,132.0,291.0,POL,58.0,0.828571
Russia,5.0,132.0,121.0,142.0,395.0,6.0,49.0,40.0,35.0,124.0,11.0,181.0,161.0,177.0,519.0,RUS,83.0,0.458564
Soviet Union,9.0,395.0,319.0,296.0,1010.0,9.0,78.0,57.0,59.0,194.0,18.0,473.0,376.0,355.0,1204.0,URS,317.0,0.670190
Unified Team,1.0,45.0,38.0,29.0,112.0,1.0,9.0,6.0,8.0,23.0,2.0,54.0,44.0,37.0,135.0,EUN,36.0,0.666667
Slovakia,5.0,7.0,9.0,8.0,24.0,6.0,2.0,2.0,1.0,5.0,11.0,9.0,11.0,9.0,29.0,SVK,5.0,0.555556
Slovenia,6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0,SLO,2.0,0.333333
Spain,22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0,ESP,36.0,0.947368
Sweden,26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0,SWE,93.0,0.481865
Switzerland,27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0,SUI,3.0,0.030928
Ukraine,5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0,UKR,31.0,0.885714
United States,26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0,USA,880.0,0.820896
Uzbekistan,5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0,UZB,4.0,0.666667

In [80]:
## Remove countries without at least one gold
only_both_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0 ))
only_both_gold = only_both_gold.dropna()
## Calculate relative gap and pull out largest
only_both_gold['rel_gap'] = abs(only_both_gold['Gold']-only_both_gold['Gold.1'])/only_both_gold['Gold.2']
only_both_gold.nlargest(1,['rel_gap']).index[0]
#only_gold.loc[:,['Gold','Gold.1', 'Gold.2','rel_gap']]
#only_gold['rel_gap']

'Bulgaria'

In [82]:
def answer_three():
    ## Remove countries without at least one gold
    only_both_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0 ))
    only_both_gold = only_both_gold.dropna()
    ## Calculate relative gap and pull out largest
    only_both_gold['rel_gap'] = abs(only_both_gold['Gold']-only_both_gold['Gold.1'])/only_both_gold['Gold.2']
    return only_both_gold.nlargest(1,['rel_gap']).index[0]

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [102]:
df['points'] = 3*df['Gold.2'] + 2* df['Silver.2'] + df['Bronze']
df.sort_values(['points'], ascending = [False])

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,gap,rel_gap,points
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,0.820896,5600
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,0.670190,2467
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,0.918699,1562
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,0.380952,1493
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,0.733906,1453
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,0.685106,1290
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,0.481865,1163
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,0.887324,1101
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,0.593750,1033
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,0.458564,1007
Hungary,25,167,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN,167,1.000000,958
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,0.930556,919
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,62,0.356322,885
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,0.857143,848
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,0.412587,838
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,3,0.024793,794
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,0.350877,692
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,0.514019,599
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,3,0.030928,582
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU,88,1.000000,571
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,0.828571,513
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,41,0.532468,488
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,0.671642,446
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB,72,1.000000,420
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,0.961538,408
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN,43,1.000000,335
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,0.921569,312
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,0.666667,279
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,0.947368,273
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,0.947368,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM,0,NaN,3
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI,1,1.000000,3
Haiti,14,0,1,1,2,0,0,0,0,0,14,0,1,1,2,HAI,0,NaN,3
Grenada,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,GRN,1,1.000000,3
Kuwait,12,0,0,2,2,0,0,0,0,0,12,0,0,2,2,KUW,0,NaN,2
Guatemala,13,0,1,0,1,1,0,0,0,0,14,0,1,0,1,GUA,0,NaN,2
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA,0,NaN,2
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV,0,NaN,2
Netherlands Antilles,13,0,1,0,1,2,0,0,0,0,15,0,1,0,1,AHO,0,NaN,2
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT,0,NaN,2
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV,0,NaN,2
Gabon,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,GAB,0,NaN,2
Paraguay,11,0,1,0,1,1,0,0,0,0,12,0,1,0,1,PAR,0,NaN,2
Montenegro,2,0,1,0,1,2,0,0,0,0,4,0,1,0,1,MNE,0,NaN,2
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP,0,NaN,2
Senegal,13,0,1,0,1,5,0,0,0,0,18,0,1,0,1,SEN,0,NaN,2
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI,0,NaN,2
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD,0,NaN,2
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,NaN,2
Macedonia,5,0,0,1,1,5,0,0,0,0,10,0,0,1,1,MKD,0,NaN,1
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN,0,NaN,1
Mauritius,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI,0,NaN,1
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER,0,NaN,1
Iraq,13,0,0,1,1,0,0,0,0,0,13,0,0,1,1,IRQ,0,NaN,1
Guyana,16,0,0,1,1,0,0,0,0,0,16,0,0,1,1,GUY,0,NaN,1
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR,0,NaN,1
Eritrea,4,0,0,1,1,0,0,0,0,0,4,0,0,1,1,ERI,0,NaN,1
Djibouti,7,0,0,1,1,0,0,0,0,0,7,0,0,1,1,DJI,0,NaN,1
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG,0,NaN,1
Niger,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,NIG,0,NaN,1

In [98]:
def answer_four():
    
    df['points'] = 3*df['Gold.2'] + 2* df['Silver.2'] + df['Bronze']

    return df['points']

answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            919
Austria                              488
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              149
Belgium                              273
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             408
Burundi                                3
Cameroon                              12
Canada                               794
Chile                                 24
China                               1101
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               66
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                267
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1163
Switzerland                          582
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              216
United Arab Emirates                   3
United States                       5600
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           170
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [112]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [113]:
census_df=census_df[census_df['SUMLEV'] == 50]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [166]:
CTY_count=census_df.pivot_table(index=['STNAME'], aggfunc='size')
CTY_count.loc[:].head()

STNAME
Alabama       67
Alaska        29
Arizona       15
Arkansas      75
California    58
dtype: int64

In [169]:
CTY_count.nlargest().index[0]

'Texas'

In [179]:
CTY_count.nlargest?

In [167]:
def answer_five():
    CTY_count=census_df.pivot_table(index=['STNAME'], aggfunc='size')
    
    return CTY_count.nlargest().index[0]
answer_five()

# This seems a bit unsatisfactory. I'm not sure why nlargest() works
# i'd rather call nlargest of a column, but i can't reference the column
# of data, as it doesn't get a column name. I guess nlargest works as 
# these is only one column to return and STNAME has become the index.

'Texas'

In [195]:
CTY_count2 = census_df.groupby(['STNAME']).size().reset_index(name='count')
CTY_count2.nlargest(1, ['count'])['STNAME']

# This is maybe a bit more like it i'm not sure i get the 
# reset_index(name='count') bit Also it returns an object not a string

43    Texas
Name: STNAME, dtype: object

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [212]:
# Remind myself what the data looks like!

census_df = pd.read_csv('census.csv') # Read in the data again!
census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 

columns_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.

# # First i tried to set the index as it might help 
# #Â DOESN"T SEEM TO! maybe as you can't do operations on them??
# census_df = census_df.set_index(['STNAME', 'CTYNAME'])

In [216]:
census_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3).head()

STNAME
Alabama  37    658466
         49    412992
         45    334811
Alaska   71    291826
         76     97581
Name: CENSUS2010POP, dtype: int64

In [228]:
ans_df = census_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3).sum(level=0).nlargest(3)
ans_df.index.tolist()

['California', 'Texas', 'Illinois']

In [230]:
def answer_six():
    
    census_df = pd.read_csv('census.csv') # Read in the data again!
    census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 
    columns_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
    census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.
    
    ans_df = census_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3).sum(level=0).nlargest(3)

    return ans_df.index.tolist()
    
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [231]:
# Remind myself what the data looks like!

census_df = pd.read_csv('census.csv') # Read in the data again!
census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 

columns_to_keep = ['STNAME','CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']

census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.
census_df.head()

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,57373,57711,57776,57734,57658,57673

In [241]:
census_df['DIFF'] = census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
                               'POPESTIMATE2014','POPESTIMATE2015']].max(1) - census_df[['POPESTIMATE2010',
                                'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013', 'POPESTIMATE2014','POPESTIMATE2015']].min(1)
ans_df = census_df.nlargest(1,['DIFF'])

In [262]:
ans_df['CTYNAME'].item()

'Harris County'

In [261]:
ans_df['CTYNAME'].values[0]

'Harris County'

In [ ]:
def answer_seven():
    
    # DO THE DATA
    census_df = pd.read_csv('census.csv') # Read in the data again!
    census_df=census_df[census_df['SUMLEV'] == 50] #Remove the state level data 
    columns_to_keep = ['STNAME','CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    census_df = census_df[columns_to_keep] # Trim to only the data i need for this question.
    
    # ANSWER THE QUESTION
    census_df['DIFF'] = census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
                               'POPESTIMATE2014','POPESTIMATE2015']].max(1) - census_df[['POPESTIMATE2010',
                                'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013', 'POPESTIMATE2014','POPESTIMATE2015']].min(1)
    
    ans_df = census_df.nlargest(1,['DIFF'])
    
    
    
    return "YOUR ANSWER HERE"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [ ]:
def answer_eight():
    return "YOUR ANSWER HERE"